<div class="page">
    <div class="page-main">

        

      

        <!--app-content open-->
        <div class="app-content main-content mt-0">
            <div class="side-app">

                <!-- CONTAINER -->
                <div class="main-container container-fluid">

                        
                    <!-- PAGE-HEADER -->
                    <div class="page-header">
                        <div>
                            <h1 class="page-title">About Page</h1>
                        </div>
                        <div class="ms-auto pageheader-btn">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:void(0);">About Page</a></li>
                                <li class="breadcrumb-item active" aria-current="page">abouts</li>
                            </ol>
                        </div>
                    </div>
                    <!-- PAGE-HEADER END -->

                   
                   

                   

                    <!-- row -->
<div class="row">
    <div class="col-lg-6 col-md-6">
        <div class="card">
            <div class="card-header border-bottom">
                <h3 class="card-title"> About Page</h3>
            </div>
            <div class="card-body">
                <p class="text-muted"></p>
                <!-- Check if there are less than 3 aboutss before enabling the "Add" button -->
            
                <% if (abouts.length < 1) { %>
                    <a href="#" class="btn btn-primary" data-bs-target="#modaldemo1" data-bs-toggle="modal">
                        Add
                    </a>
                    <% } else { %>
                    <!-- Display a message or modal to inform the user that they can't add more banners -->
                    <p style="color: red;">You have reached the maximum item limit. If you want to add more items, you must delete something below.</p>
                    <% } %>
  
            </div>
        </div>
    </div>
</div>
<!-- /row -->
<%if (abouts) { %>
    <div class="row">
        <div class="row row-sm">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header border-bottom">
                        <h3 class="card-title"> about page Datatable</h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="editable-responsive-table" class="table editable-table table-nowrap table-bordered table-edit wp-100">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Heading</th>
                                        <th>Image</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for (let i = 0; i < abouts.length; i++) { %>
                                        <% let currentabouts = abouts[i]; %>
                                
                                    <tr>
                                       
                                            <td><%= i + 1 %></td>
                                            <td><%= currentabouts.abouthead %></td>
                                            <td><%= currentabouts.aboutsubhead %></td>
                                            <td><%= currentabouts.aboutdescription %></td>
                                            <td><img src="<%= currentabouts.aboutimage %>" style="height: 5em;"></td>
                                            <td>
                                                <div class="card-body">
                                                    <p class="text-muted"></p>
                                                    <a  class="btn btn-primary" data-bs-target="#modaldemo2_<%= i %>" data-bs-toggle="modal">Edit</a>
                                                   <!-- data-bs-target="#modaldemo3_<%= i %>" data-bs-toggle="modal">Delete</a> -->
                                                   <!-- <a class="btn btn-primary">   <button class="btn btn-danger" onclick="confirmDelete()">Delete</button></a> -->
                                                   <a href="#" class="btn btn-danger" data-bs-target="#modaldemo3_<%= i %>" data-bs-toggle="modal">Delete </a>
                                                    
                                               
                                                </div> 
                                                
                                                
                                            </td>
                                     
                                    </tr>
                                    <% } %>
                                    
                                    
                                  
                                           
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Row -->
<% } else { %>
    <h1 style="color: red;">Table not found</h1>
<% } %>

       
                   

                    
                </div>
            </div>
        </div>
            <!-- CONTAINER CLOSED -->
     </div>



    
    <!-- Addmodal -->
    <div id="modaldemo1" class="modal fade">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="addabout" method="POST" enctype="multipart/form-data" >
                <div class="modal-body">
                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                   
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="heading" name="abouthead" id="abouthead" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="sub heading" name="aboutsubhead" id="aboutsubhead" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="description" name="aboutdescription" id="aboutdescription" required>
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder=" image"  id="formFileLg" name="aboutimage" type="file" required>
                    </div>
                   
                    
                    <button class="btn btn-primary btn-block mt-5" type="submit">Continue</button>
                </div>
            </form><!-- modal-body -->
            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div><!--Add modal close -->


           
    <!-- Editmodal -->
    <% for (let i = 0; i < abouts.length; i++) { %>
        <% let currentabouts = abouts[i]; %>
        <div id="modaldemo2_<%= i %>" class="modal fade">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form action="editabout/<%= currentabouts._id %>"  method="POST" enctype="multipart/form-data" onsubmit="return validateForm()">
                        <div class="modal-body">
                            <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="heading" value="<%= currentabouts.abouthead %>" name="aboutshead" id="aboutshead" >
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="sub heading" value="<%= currentabouts.aboutsubhead %>" name="aboutsubhead" id="aboutsubhead" >
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Description" value="<%= currentabouts.aboutdescription %>" name="aboutdescription" id="aboutdescription" >
                            </div>
                            <!-- form-group -->
                            <img src="<%= currentabouts.aboutimage %>"  id="selectedImage<%= currentabouts._id %>" style="height: 14em;">
                            <div class="form-group">
                                <input class="form-control" placeholder="abouts image" id="formFileLg_<%= i %>" value="selectedImage<%= currentabouts.aboutimage %>" name="aboutimage" type="file" onchange="updateImagePreview(this, 'selectedImage<%= currentabouts._id %>')">
                            </div>
                            <button class="btn btn-primary btn-block mt-5" type="submit">Save</button>
                        </div>
                    </form><!-- modal-body -->
                </div><!-- modal-content -->
            </div><!-- modal-dialog -->
        </div><!-- edit modal close -->



        <!-- Delete Modal -->
        <div id="modaldemo3_<%= i %>" class="modal fade">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                   
                    <div class="modal-body">
                        <div class="modal-header" >
                            <h5 class="modal-title" id="exampleModalLabel">Confirmation </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                           </div>
                           <div class="modal-body">
                            <p>Are you sure you want to delete?</p>
                          </div>
                          <div class="modal-footer">
                           <button type="button" class="btn btn-secondary" id="close-modal">No</button>
                            <a href="deleteabout/<%= currentabouts._id %>"  class="btn btn-danger" type="button">Yes</a>
                           </div>
                
                </div><!-- modal-content -->
            </div><!-- modal-dialog -->
        </div>
       </div>
    
        <!-- Delete Modal Close -->


    <% } %>

  
   

</div>
    `  <script>
        function updateImagePreview(input,imageId ) {
            if (input.files && input.files[0]) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    document.getElementById(imageId).src = e.target.result;
                };
                reader.readAsDataURL(input.files[0]);
            }
        }

       

    </script>